<% if current_user.demo == true %>
  <div id="demo-notice">
  This is a temporary demo account. To finish your registration, <a href="/auth/stripe_connect?scope=read_write">click here</a>.
  </div>
<% end %>

<%= render "shared/header" %>

<div class="main-page">
  <section id="settings-form" class="gp-settings-form">
    <div class="inner">
      <div class="gp-form-url">
        Your payment link: <a href="/<%= @user.url_handle %>">https://www.payzo.io/<%= @user.url_handle || "will-be-here" %></a>
      </div>
      <%= form_for @user, html: { 'data-parsley-validate' => '' } do |f| %>
        <%= f.file_field :avatar, class: "hide" %>
        <div class="gp-form-wrapper">
          <div class="gp-form-header">
            <div class="gp-form-avatar">
            <div id="avatar-image-control" class="user-avatar-circle" style="background-image: url(<%= @user.avatar.thumb.url %>)">&nbsp;</div>
            </div>
            <div class="gp-form-details">
              <span class="details-title"><%= @user.company_name %></span>
              <span class="details-sub"><%= @user.company_description %></span>
            </div>
          </div>
          <div class="gp-form-fields of">
            <div class="gp-control-group of">
              <div class="gp-control-field grid-6 no-gutter">
                <label>Company Name</label>
                <%= f.text_field :company_name, placeholder: 'Company Name', required: true %>
              </div>
              <div class="gp-control-field grid-6 no-gutter-right no-gutter-sm">
                <label>Your email</label>
                <%= f.email_field :email, placeholder: 'Your Email', required: true %>
              </div>
            </div>
            <div class="gp-control-group of">
              <div class="gp-control-field grid-12 no-gutter">
                <label>Your Payment Handle</label>
                <%= f.text_field :url_handle, placeholder: 'payzo-io/your-payment-handle-in-this-format', pattern: '[a-z-]+', required: true %>
              </div>
            </div>

            <div class="gp-control-group of">
              <div class="gp-control-field grid-12 no-gutter">
                <label>Short company description</label>
                <%= f.text_field :company_description, placeholder: 'Short company description', maxlength: 115, required: true %>
              </div>
            </div>
            <!--<div class="gp-control-group of">
              <div class="label-block grid-12 no-gutter">
                <label>Password Change</label>
              </div>
              <div class="gp-control-field grid-6 no-gutter">
                <label>Password</label>
                <input type="password" placeholder="Password" />
              </div>
              <div class="gp-control-field grid-6 no-gutter-right no-gutter-sm">
                <label>Password Confirmation</label>
                <input type="password" placeholder="Password Confirmation" />
              </div>
            </div>-->
            <div class="gp-control-group of">
              <div class="gp-control-field grid-12 no-gutter">
                <%= f.submit 'Save', class: 'cta-submit' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>